<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Process Data
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Processing result</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" ng-show="vm.isResultVisible == true">
                        result
                    </div>
                    <div class="box-body" ng-show="vm.isLoaderVisible == true">
                        <img class="pull-right"
                             style="padding-top: 4px; padding-right: 5px" src=../images/Rolling.gif alt="loading">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>