<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Processing Result
        </h1>
    </section>

    <!-- Main content -->
    <section class="content" ng-show="vm.isResultVisible == false">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box box-header with-border">
                        <h3 class="box-title">Processing</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-4">
                                <img class="pull-left" width="35" height="35" src=../images/Pulsing%20Loader.gif
                                     alt="loading">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content" ng-show="vm.isResultVisible == true">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Entropy Variance</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="entropy-linechart" style="height: 400px"></div>
                            </div>
                            <div class="col-md-4">
                                <h4>Suspicious Time Frames</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr ng-repeat="minima in vm.local_minima_list">
                                        <td>
                                            <strong>Timeframe {{ minima.id }}</strong><br/>
                                            {{ minima.starttime }} <strong>to</strong> {{ minima.endtime }}<br/>
                                            <strong>Entropy score:</strong> {{ minima.entropy_value }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Attribute Variance</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-md-1" style="bottom: 0px; position: relative">

                                        </div>
                                        <div class="col-md-10">
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-default pull-right"
                                                        data-ng-click="vm.getPreviousWindow()">
                                                    <i class="fa fa-angle-left"></i></button>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <select class="form-control" data-ng-model="vm.current_file"
                                                                data-ng-change="vm.changeGraph()">
                                                            <option value="{{n}}" ng-repeat="n in vm.files_range">Time
                                                                Frame {{n}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-default pull-left"
                                                        data-ng-click="vm.getNextWindow()">
                                                    <i class="fa fa-angle-right"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="bottom: 0px; position: relative">

                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-md-12">
                                            <div ng-show="vm.isGraphLoaderVisible == true">
                                                <div class="col-md-6">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="pull-left" width="35" height="35"
                                                         src=../images/Pulsing%20Loader.gif alt="loading">
                                                </div>
                                            </div>

                                            <div ng-show="vm.isGraphLoaderVisible == false">
                                                <div id="price-gap-linechart" style="height: 500px;"></div>
                                            </div>

                                            <div class="row" ng-show="vm.price_gap_details_show == true">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <strong>Price Gap:</strong>
                                                        {{vm.clicked_price_gap_value}}<br/>
                                                        <strong>From:</strong> {{vm.clicked_price_gap_from}}
                                                        <strong>To:</strong>
                                                        {{vm.clicked_price_gap_to}}
                                                    </div>
                                                    <div class="col-md-6">
                                                        <br/>
                                                        <strong>Brokers:</strong> <a style="cursor: pointer"
                                                                                     data-backdrop="static"
                                                                                     data-ng-click="vm.showBrokerModel(vm.clicked_start_broker)">{{vm.clicked_start_broker}}</a>
                                                        <strong>and</strong>
                                                        <a style="cursor: pointer" data-backdrop="static"
                                                           data-ng-click="vm.showBrokerModel(vm.clicked_end_broker)">{{vm.clicked_end_broker}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="vm.orderbook_simulation == true">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Orderbook</h3>
                    </div>
                    <div class="box-body">
                        <div ng-show="vm.isOrderBookLoaded == true">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        at Time {{ vm.current_orderbook_time.time_point }}
                                    </div>
                                    <div class="col-md-9">
                                        <input data-ng-model="vm.time_point" type="range" min="0"
                                               data-ng-change="vm.updateOrderBook()"
                                               max="{{ vm.orderbook_data.time_points_count - 1 }}" step="1"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 10px">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Buy</th>
                                            <th>Sell</th>
                                        </tr>
                                        <tr ng-repeat="data in vm.buy_points">
                                            <td>{{ $index + 1}}.</td>
                                            <td>{{ vm.buy_points[$index] }}</td>
                                            <td>{{ vm.sell_points[$index] }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div ng-show="vm.isOrderBookLoaded == false">
                            Orderbook Simulating...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="broker-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Broker: {{vm.current_selected_broker}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row" ng-show="vm.broker_details_show == false">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-4">
                            <img class="pull-left" width="35" height="35" src=../images/Pulsing%20Loader.gif
                                 alt="loading">
                        </div>
                    </div>
                    <div ng-show="vm.broker_details_show == true">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    Total Number of trades: {{vm.broker_orders_count}}<br/>
                                    <br/>
                                    New orders: {{vm.broker_new_orders_count}}<br/>
                                    Cancelled orders: {{vm.broker_cancel_orders_count}}<br/>
                                    Ammended orders: {{vm.broker_ammend_orders_count}}<br/>
                                    Executed orders: {{vm.broker_execute_orders_count}}<br/>
                                </div>
                                <div class="col-md-9">
                                    <div id="broker-order-count-piechart" style="height: 200px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="broker-order-placement-graph" style="height: 200px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-rightt" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="timeframe-modal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Timeframe: {{vm.current_selected_timeframe}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row" ng-show="vm.timeframe_details_show == false">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-4">
                            <img class="pull-left" width="35" height="35" src=../images/Pulsing%20Loader.gif
                                 alt="loading">
                        </div>
                    </div>
                    <div ng-show="vm.timeframe_details_show == true">
                        Data shown
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-rightt" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>